
<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Genre</th>
      <th>Review</th>
      <th>Similarity</th>
      <th>Rating</th>
    </tr>
  </thead>

  <tbody>
    <% @shows.each do |show| %>
      <% if show.user == current_user %> 
      <tr>
        <td><%= link_to show.name, show %></td>
        <td><%= show.genre %></td>
        <td><%= show.review %></td>
        <td><%= show.similarity %></td>
        <td><%= show.rating %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Show', new_show_path, class:"btn btn-outline-primary" %>
