<div class="jumbotron">
  <h1 class="display-4"><%= @show.name %></h1>
  <p class="lead"><%= @show.rating %></p>
  <hr class="my-4">
  <div class="container">
  <div class="row">
    <div class="col-sm">
      <p><strong>Review: </strong><%= @show.review %></p>
      <p><strong>Genre: </strong><%= @show.genre %></p>
      <p><strong>Similarity: </strong><%= @show.similarity %></p>
      <br/> <br/>

      <p class="lead">
        <a href="#" role="button"><%= link_to 'Edit', edit_show_path(@show), class:"btn btn-primary" %> 
        <%= link_to 'Delete', @show, method: :delete, data: { confirm: 'Are you sure?' }, class: " btn btn-danger " %>
        <%= link_to 'Back', shows_path, class:"btn btn-dark" %></a>
      </p>
    </div>
    <div class="col-sm">
      <% if @show.image.attached? %>
        <p>
          <%= image_tag @show.image, class:"img-thumbnail", :size => "360x280" %>
        </p>
      <% end %>
    </div>
</div>
