<div class="jumbotron">
  <h1 class="display-4"><%= @show.name %></h1>
  <p class="lead"><%= @show.rating %></p>
  <hr class="my-4">
  <p><strong>Review: </strong><%= @show.review %></p>
  <p><strong>Genre: </strong><%= @show.genre %></p>
  <p><strong>Similarity: </strong><%= @show.similarity %></p>
  <br/>
  <p class="lead">
    <a href="#" role="button"><%= link_to 'Edit', edit_show_path(@show), class:"btn btn-outline-primary" %> 
    <%= link_to 'Back', shows_path, class:"btn btn-outline-dark" %></a>
  </p>
</div>
